
<div class="container">
  <h1>Online Shopping App</h1>
  <hr>
  <div class="form-group">
    <h3>Admin Id :- </h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Id" aria-describedby="basic-addon2" [(ngModel)]="id">
      
    </div>
    <h3>Admin password :- </h3>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon2" [(ngModel)]="password">
    </div>
  </div>
  <div class="btn-group">

  <button type="button" class="btn btn-primary btn-lg" (click)="onclicklogin()">
    Login 
  </button>
</div>
</div>