<app-menu></app-menu>
<div class="container">

  <h1>ADD CATEGORY</h1>
     <hr>
    <div class="form-group">
        <h4>Name:</h4> <input class="form-control" type="text" [(ngModel)]="cat_name">
    </div>
    <div class="row">
        <div class="col-md-6">
                <button class="btn btn-lg btn-primary form-control" (click)="onclickadd()" >ADD</button>
        </div>
        <div class="col-md-6">
                <button class="btn btn-lg btn-danger form-control" (click)="onclickcancel()" >CANCEL</button>
        </div>        
        
        
    </div>
  
</div>