<app-menu></app-menu>
<div class="container">

  <h1>UPDATE PRODUCT</h1>
  <hr>
  <div class="form-group">
    <h4>Id:</h4>
    <input class="form-control" type="number" [(ngModel)]="p_id">
  </div>
  <div *ngIf="flag">
    <div class="form-group">
      <h4>Name:</h4>
      <input class="form-control" type="text" disabled [(ngModel)]="p_name">
    </div>

    <div class="form-group">
      <h4>Price:</h4>
      <input class="form-control" type="number" [(ngModel)]="p_price">
    </div>

    <div class="form-group">
      <h4>Quantity:</h4>
      <input class="form-control" type="number" [(ngModel)]="p_qty">
    </div>

    <div class="form-group">
      <h4>Manufacturer:</h4>
      <input class="form-control" type="text" [(ngModel)]="p_mfg">
    </div>

    <div class="form-group">
      <h4>Image:</h4>
      <input class="form-control" type="text" disabled [(ngModel)]="p_img">
    </div>

    <div class="form-group">
      <h4>Color:</h4>
      <input class="form-control" type="text" [(ngModel)]="p_color">
    </div>

    <div class="form-group">
      <h4>Cat_id:</h4>
      <input class="form-control" type="number" [(ngModel)]="fk_cat_id">
    </div>

    <div class="form-group">
      <h4>Discription:</h4>
      <input class="form-control" type="text" disabled [(ngModel)]="p_desc">
    </div>
  </div>

  <div class="row" *ngIf="flag">
    <div class="col-md-6">
      <button class="btn btn-lg btn-primary form-control" (click)="onclickupdate()">UPDATE</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-lg btn-danger form-control" (click)="onclickcancel()">CANCEL</button>
    </div>


  </div>

  <div class="row" *ngIf="flag1">
    <div class="col-md-6">
      <button class="btn btn-lg btn-primary form-control" (click)="onclickok()">OK</button>
    </div>

  </div>

</div>